<article class="post-preview" >
    <a href="{{ .Permalink }}">
        {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />
        {{ end }}
    </a>
    <h4 class="post-title">{{ .Title }}</h4>
    {{ if .Params.video }}
    <video loop autoplay muted playsinline class="img-title">
        <source src="{{ .Params.video }}">
    </video>
    {{ end }}

    {{ if .Params.tags }}
    <div class="blog-tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
    </div>
    {{ end }}

</article>