{{ define "main" }}
<div role="main" class="container">
    <h2 class="lastPosts">Les derniers articles</h2>
    {{ with .Content }}
      <div class="well">
        {{.}}
      </div>
    {{ end }}

    <div class="posts-list">
      <div class="row" style="display:flex; flex-wrap:wrap;">
        {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
        {{ range $pag.Pages }}
        <div class="col-md-4 col-sm-6 hover-fade">
          {{ partial "post_preview" . }}
        </div>
        {{ end }}
      </div>
    </div>

    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      <ul class="pager main-pager">
        {{ if .Paginator.HasPrev }}
          <li class="previous">
            <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
          </li>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <li class="next">
            <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
</div>
{{ end }}